h1, h2, ul, p {
    margin: 0;
}
    
header {
    display: none;
}

footer {
    display: none;
}
    
a {
    color: #000000;
    text-decoration: none;
}
/*--
a[href^=http]:after {
      content:" <" attr(href) "> ";
} --*/

h1 {
    font-family: 'Arial Narrow', sans-serif;
    font-size: 14pt;
    text-transform: uppercase;
    border-bottom: 1px solid #000000;
}

h2, p, ul, span {
    font-family: 'Open Sans', sans-serif;  
}

h2 {
    font-weight: 700;
    display: block;
    font-size: 11pt;
}

p, ul {
    font-size: 8pt;
}

span {
    font-style: italic;
    font-size: 9pt;
    display: block;
}

span#email { display: inline; }

hr.faded {
    display: none;
}

#wrapper {
    padding: 1pt;
    margin: 0 auto;
    background: #FFFFFF;
}

section {
    clear: both;
    overflow: hidden;
    margin: 5pt auto;
}
    
.col { float: left; }

.block { margin-top: 5pt; }

.block > h2, .block >p { padding-left: 10pt; }

.block > ul { line-height: 14pt; }
    

/*--------------------------------------------------------------------------------
----------------------------------- PROFILE --------------------------------------
---------------------------------------------------------------------------------*/

h1.name {
    font-size: 18pt;
    border: none;
}

h2.job-position {
    color: #545454;
    font-size: 16pt;
    text-transform: uppercase;
}

.profile .left-col {
    text-align: left;
    width: 46%;
}

.profile .right-col {
    text-align: right;
    width: 53%;
}
    
.right-col > p {
    font-size: 6pt;
}

ul.social-media {
    display: none;
}
    
/*--------------------------------------------------------------------------------
----------------------------------- EDUCATION & WORK --------------------------------------
---------------------------------------------------------------------------------*/

h2.school-name, p.school-major, p.company-name { 
    font-weight: 700;
    font-style: italic;
}
    
p.company-name { font-size: 12pt;}

span.company-url { display: inline; }

